*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  position: relative;
}

hr {
  border: .5px solid #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #000;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;

  .logo-header {
    width: 160px;
  }

  p {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.wrapper {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DAD1E3;

  @keyframes blink {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .intro-footer {
    transform: translateY(240px);

    h1 {
      font-size: 16px;
      text-transform: uppercase;
      color: #000;

      span {
        font-weight: bold;
      }
    }

    p {
      margin-top: 16px;
      font-size: 14px;
      color: #000;
      text-align: center;
      opacity: 1;
      animation: blink 2s ease 1s infinite forwards;
    }
  }
}

.logo {
  width: 320px;
  height: auto;

  .cls-1 {
    fill: #DA111B;
  }

  @keyframes icon {
    from {
      transform: rotate(-180deg);
    }

    to {
      transform: rotate(0deg);
    }
  }

  #icon {
    transform: rotate(-360deg);
    animation: icon 1.75s ease;
  }
}

.concepts {
  min-height: 100vh;
  padding: 40px 168px 120px;
  position: sticky;
  top: 0;
  background-color: #fff;

  .concept {
    margin-bottom: 80px;
  }

  .container {
    display: flex;
  }

  h2 {
    margin-bottom: 8px;
    font-size: 40px;
  }

  h3 {
    margin: 64px 0 24px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .deliverable {
    margin-bottom: 8px;
    font-size: 16px;
  }

  section {
    width: 70%;
  }

  aside {
    width: 30%;
    font-size: 14px;
    text-align: right;

    h3 {
      font-size: 24px;
    }
  }

  .notes {
    margin-top: 16px;
    font-size: 12px;

    p {
      margin-bottom: 4px;
    }
  }
}

.total {
  margin-top: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      width: 80px;
    }

    #Layer_2 .cls-1 {
      transition: transform ease 1s;
    }

    &:hover {
      #Layer_2 .cls-1 {
        transform: translateY(27px);
      }
    }
  }
}

.terms-container {
  min-height: 100vh;
  padding: 40px 168px 120px;

  h1 {
    margin-bottom: 8px;
  }

  hr {
    margin-bottom: 56px;
  }

  .button-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 128px auto 0;

    svg {
      width: 80px;
    }

    .contact,
    .back {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    a {
      color: #000;
      text-decoration: none;
    }
  }

  .back {
    #Layer_2 .cls-1 {
      transition: transform ease 1s;
    }

    &:hover {
      #Layer_2 .cls-1 {
        transform: translateY(27px);
      }
    }
  }

  .contact {
    #hand .cls-1 {
      transition: transform 1s ease;
    }

    #hand_2 .cls-1 {
      transition: transform 1s ease;
    }

    &:hover {
      #hand .cls-1 {
        transform: rotate(15deg) translateX(85px);
      }

      #hand_2 .cls-1 {
        transform: translateX(-40px) rotate(10deg) translateY(-60px);
      }
    }
  }
}