main {
  position: relative;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;

  .logo-header {
    width: 160px;
  }

  p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.wrapper {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DAD1E3;

  @keyframes blink {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .intro-footer {
    transform: translateY(240px);

    h1 {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
      color: #000;

      span {
        font-weight: bold;
      }
    }

    p {
      font-family: sans-serif;
      font-size: 14px;
      color: #000;
      text-align: center;
      opacity: 1;
      animation: blink 2s ease 1s infinite forwards;
    }
  }
}

.logo {
  width: 320px;
  height: auto;

  .cls-1 {
    fill: #DA111B;
  }

  @keyframes icon {
    from {
      transform: rotate(-180deg);
    }

    to {
      transform: rotate(0deg);
    }
  }

  #icon {
    transform: rotate(-360deg);
    animation: icon 2s ease;
  }
}

.concepts {
  min-height: 100vh;
  padding: 40px 168px 120px;
  position: sticky;
  top: 0;
  background-color: #fff;

  .concept {
    margin-bottom: 80px;
  }

  .container {
    display: flex;
  }

  h2 {
    margin-bottom: 8px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: normal;
  }

  h3 {
    margin: 64px 0 24px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .deliverable {
    margin-bottom: 8px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
  }

  section {
    width: 70%;
  }

  aside {
    width: 30%;
    font-family: sans-serif;
    font-size: 14px;
    text-align: right;

    h3 {
      font-size: 24px;
    }
  }

  .notes {
    margin-top: 16px;
    font-family: sans-serif;
    font-size: 12px;

    p {
      margin-bottom: 0;
    }
  }
}

.total {
  margin-top: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      width: 80px;
    }

    #Layer_2 .cls-1 {
      transition: transform ease 1s;
    }

    &:hover {
      #Layer_2 .cls-1 {
        transform: translateY(27px);
      }
    }
  }
}

.terms-container {
  padding: 40px 168px 120px;
}